.container {
  max-width: 1400px;
  width: 100%;
  margin: 100px auto;
}

.tech-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
}

.tech {
  display: flex;
  flex-direction: column;
  font-size: $text-medium;
  height: 350px;
  justify-content: center;
  padding: 15px 15px 0;
  position: relative;
  width: 210px;
}

.big-tech {
  border-right: 2px solid $green;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: end;
  height: 100%;
  padding-right: 50px;
  place-self: center;
}

.tech-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.release {
  font-weight: bold;
}

.logo-container {
  height: auto;
  max-width: $tech-logo-size;
  max-height: $tech-logo-size;
  place-self: center;
  width: auto;
}

@media only screen and (max-width:800px) {
  .container {
    max-width: 210px;
    width: 100%;
  }

  .tech-container {
    display: grid;
    grid-template-columns: 210px;
    grid-template-rows: 1fr ;
    max-width: 210px;
  }

  .big-tech {
    width: 210px;
    border-right: 0;
  }

}
