@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: $font;
}

.title {
  font-size: $text-big;
  margin: 50px 0;
  position: relative;
  &::before {
    background: url(assets/triangle.svg) no-repeat;
    content: '';
    height: $title-decoration-height;
    left:-31%;
    position: absolute;
    top:-40px;
    width: $title-decoration-width;
    z-index:-2;
  }
}
