@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0; }
  h1:focus,
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus,
  p:focus,
  span:focus,
  label:focus,
  input:focus,
  a:focus,
  button:focus,
  select:focus,
  textarea:focus {
    outline: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  table-layout: fixed; }

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  background: transparent;
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    text-decoration: none; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

::placeholder {
  color: #999;
  opacity: 1; }

body {
  font-family: 'Roboto', sans-serif; }

.title {
  font-size: 24px;
  margin: 50px 0;
  position: relative; }
  .title::before {
    background: url(assets/triangle.svg) no-repeat;
    content: '';
    height: 90px;
    left: -31%;
    position: absolute;
    top: -40px;
    width: 100px;
    z-index: -2; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 100px auto; }

.tech-container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  max-width: 1000px;
  margin: 0 auto; }

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 350px;
  justify-content: center;
  padding: 15px 15px 0;
  position: relative;
  width: 210px; }
  .tech:first-child {
    border-right: 2px solid #BED23C;
    grid-row: 1 / end;
    height: 100%;
    justify-content: center;
    padding-right: 50px; }

.tech-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 10px 0;
  text-align: center; }

.release {
  font-weight: bold; }

.logo-container {
  height: auto;
  max-width: 100px;
  max-height: 100px;
  width: auto; }

@media only screen and (max-width: 800px) {
  .container {
    max-width: 210px;
    width: 100%; }

  .tech {
    border-bottom: 2px solid #BED23C; }
    .tech:first-child {
      border-right: 0;
      height: 350px;
      padding: 15px 15px 0; }
    .tech:last-child {
      border: 0; }

  .tech-container {
    display: grid;
    grid-template-columns: 210px;
    grid-template-rows: 1fr;
    max-width: 210px; } }
.nav {
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 3px 3px #C4C4C4;
  display: inline-flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.nav-logo {
  height: 40px;
  width: 200px; }

.nav-title {
  font-size: 24px; }

@media only screen and (max-width: 800px) {
  .nav-title {
    display: none; }

  .nav-logo {
    height: 40px;
    width: 200px; } }
.footer {
  align-items: center;
  background-color: #00ADEE;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  width: 100%; }

.footer-title {
  color: #FFF;
  font-size: 16px;
  justify-content: center;
  margin: 0 0 15px 25px; }

.footer-p {
  color: #FFF;
  font-size: 12px;
  text-align: right;
  width: 100%; }

@media only screen and (max-width: 800px) {
  .footer-p {
    text-align: center; }

  .footer-title {
    margin: 0; }

  .footer-img {
    height: 40px;
    margin: 15px 0 40px;
    width: 300px; } }

/*# sourceMappingURL=application.css.map */
