.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;  
  width: 100%;
}

.footer-title {
  color: $white;
  font-size: $text-medium;
  justify-content: center;
  margin: 0 0 15px 25px;
}

.footer-p {
  color: $white;
  font-size: $text-small;
  text-align: right;
  width: 100%;
}

@media only screen and (max-width:800px) {

  .footer-p {
    text-align: center;
  }

  .footer-title {
    margin: 0;
  }

  .footer-img {
    height: 40px;
    margin: 15px 0 40px;
    width: 300px;
  }
}
