
.nav {
  align-items: center;
  background-color: $white;
  box-shadow: 0 3px 3px $grey;
  display: inline-flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-logo {
  height: 40px;
  width: 200px;
}

.nav-title {
  font-size: $text-big;
}

@media only screen and (max-width:800px) {

  .nav-title {
    display: none;
  }
  
  .nav-logo {
    height: 40px;
    width: 200px;
  }
  
}
