
.container {
  max-width: 1400px;
  width: 100%;
  margin: 100px auto;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  max-width: 1000px;
  margin: 0 auto;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $text-medium;
  height: 350px;
  justify-content: center;
  padding: 15px 15px 0;
  position: relative;
  width: 210px;

    &:first-child {
      border-right: 2px solid $green;
      grid-row: 1 / end;
      height: 100%;
      justify-content: center;
      padding-right: 50px;
    }
}

.tech-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.release {
  font-weight: bold;
}

.logo-container {
  height: auto;
  max-width: $tech-logo-size;
  max-height: $tech-logo-size;
  width: auto;

}

@media only screen and (max-width:800px) {
  .container {
    max-width: 210px;
    width: 100%;
  }

  .tech {
    border-bottom: 2px solid $green;
    
    &:first-child {
      border-right: 0;
      height: 350px;
      padding: 15px 15px 0;
    }

    &:last-child {
      border: 0;
    }
  }

  .tech-container {
    display: grid;
    grid-template-columns: 210px;
    grid-template-rows: 1fr ;
    max-width: 210px;
  }

}
